*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins',san-serif;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: #fee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    color:#000;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 18px;
}
.menu ul li a:hover{
    border-bottom: 4px solid #000 ;
    transition: 0.4s;
}